* { margin: 0; }

body { 
    box-sizing: border-box; 
    color: #3c3c3c; 
    font-family: 'Khand', sans-serif;
}

/* header */

header {
    background-color: rgb(133, 116, 116);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    box-shadow: 0 0 3px 0 rgb(133, 116, 116), 0 0 8px 0 rgb(133, 116, 116);
}

header > h1 {
    font-family: 'Yuji Syuku', serif;
    font-size: 1.2rem;
}

.header-right {
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

/* main */

.left-block, .right-block { display: none; }

.user-input {
    background-color: rgb(133, 116, 116);
    box-shadow: 0 0 3px 0 rgb(133, 116, 116), 0 0 8px 0 rgb(133, 116, 116);
    height: 3.5rem;
    bottom: 1rem;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

#content {
    height: auto;
    margin: 6rem 0rem 5.5rem 0rem;
}

input {
    width: 70vw;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: medium;
    resize: none;
    white-space: nowrap;
    padding: 0.3rem 0.5rem; 
}

/* footer */

footer {
    background-color: rgb(133, 116, 116);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
}

.fab { margin-left: 0.2rem; }

/* buttons */ 

button {
    border: none; 
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: white;
    color: #3c3c3c;
}

#reset-button {
    background-color: #362727;
    color: white;
}

/* hover effects */

button:hover { background-color: rgb(230, 223, 223); }
#reset-button:hover { background-color: #632b2b; }
.fab:hover { color: rgb(230, 223, 223); }

/* div setting for js function printText & printUserText */

.chatbox-system {
    background-color: rgb(230, 223, 223);
    width: 80vw;
    overflow: hidden;
    height:fit-content;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 1rem;
}

.chatbox-user {
    background-color: rgb(209, 192, 192);
    width: 80vw;
    overflow: hidden;
    float: right;
    height:fit-content;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0rem 1rem 1rem 1rem;
}

.chatbox-system p, .chatbox-user p {
    float: left;
    margin: 0.5rem;
}

@media (min-width: 1200px) {
    main {
        width: 100%; 
        justify-content: space-between;
    }

    .left-block {
        display: unset;
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(133,116,116,1) 1.5%);
        width: 15%;
        min-height: 100vh;
        box-shadow: 0 3px 0 0 white , 0 8px 0 0 white;
    }
    
    .right-block {
        display: unset;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(133,116,116,1) 1.5%);
        width: 15%;
        min-height: 100vh;
    }
    
    #content {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 70%;
    }

    .chatbox-system { width: 70%; }
    .chatbox-user { width: 70%; }
    input { width: 60vw; } 
}